<div class="homeContainer">
    <% content_for :leaderboard do %>
        <div class="standingsLogo">
            <%= image_tag 'standingsBackground.png', alt: 'Standings' %>
            <div class="standingsText">
                <h2>Standings</h2>
                <%= render 'leaderboard/team_scores_mini' %>
            </div>
        </div>
    <% end %>

    <div class="header-container">
        <div class="bannerBigTop">
            <div class="bannerBigText">
                <h1>Join for free and compete to win more than $25,000!</h1>
                <p>Track your progress, net great prizes and <br>
                    qualify for big events.</p>

                <% if @current_user %>
                    <%= link_to 'VIEW PROFILE', my_profile_path, class: 'call-to-action' %>
                <% else %>
                    <%= link_to 'CREATE AN ACCOUNT', new_user_registration_path, class: 'call-to-action' %>
                <% end %>
            </div>
            <div class="bannerBigImage">

                <script type="text/javascript">
                    jQuery(document).ready(function(){
                        jQuery('#slideshow').fadeSlideShow();
                    });
                </script>

                <div id="slideshowWrapper">
                    <ul id="slideshow">
                        <li><%= image_tag 'bannerBigImage.jpg', alt: 'Bass Pro Banner' %></li>
                        <li><%= image_tag 'bannerBigImage2.jpg', alt: 'Bass Pro Banner' %></li>
                        <li><%= image_tag 'bannerBigImage3.jpg', alt: 'Bass Pro Banner' %></li>
                    </ul><br clear="all" />
                </div>

            </div>
        </div>
    </div>

    <div class="bannerMiddle">
        <div class="bassHandContainer">
            <%= image_tag 'bassHandImage.png', class: 'bassHand', alt: 'Bass Hand' %>
            <div class="bassHandText">
                <h3>THE 2013 BASS PRO SHOPS FISHING TOUR</h3>
                <h1>About the Tour</h1>
                <h4>Welcome to the Bass Pro Shops Fishing Tour!</h4>
                <p> Register your team to become eligible for cash and prizes exclusive to Bass Pro Shops Fishing Tour members! We’ll also keep track of your tournament results so you can see how you rank among your rivals. Point leaders qualify for regional events where you’ll compete with the big boys. It’s free, so <%= link_to 'sign up now!', new_user_registration_path %></p>
            </div>
        </div>
        <div class="eventLeaderContainer">
            <div class="event">
                <%= link_to image_tag('eventLogo.png', alt: 'Event Logo'), events_path %>
                <h1>Find an Event</h1>
                <p>Locate a Fishing Tour event near you. then register your team to participate.</p>
                <%= link_to 'Locate Event', events_path %>
            </div>
            <div class="leader">
                <%= link_to image_tag('leaderboardLogo.png', alt: 'Leader Logo'), '/leaderboard' %>
                <h1>Leaderboard</h1>
                <p>Once your team is registered and participating in Fishing Tour sanctioned events, you can track how you stack up against the competition in your region!</p>
                <%= link_to 'See Standings', '/leaderboard' %>
            </div>
        </div>
    </div>
</div>
