<div class="homeContainer">
    <% content_for :leaderboard do %>
        <div class="standingsLogo">
            <img src="/assets/standingsBackground.png" alt="Standings">
            <div class="standingsText">
                <h2>Standings</h2>
                <h1>Ontario Region</h1>
        <!--    <p>Jason Cambel</p>
                <p>Jason Cambel</p>
                <p>Jason Cambel</p>
                <p>Jason Cambel</p>
                <p>Jason Cambel</p> -->
            </div>
        </div>
    <% end %>

    <div class="header-container">
        <div class="bannerBigTop">
            <div class="bannerBigText">
                <h1>Join for free and compete to win more than $25,000!</h1>
                <p>Track your progress, net great prizes and qualify for big events.</p>

                <%= link_to 'CREATE AN ACCOUNT', '/users/sign_up', class: 'call-to-action' %>

            </div>
            <div class="bannerBigImage">

                <script type="text/javascript">
                    jQuery(document).ready(function(){
                        jQuery('#slideshow').fadeSlideShow();
                    });
                </script>

                <div id="slideshowWrapper">
                    <ul id="slideshow">
                        <li><img src="assets/bannerBigImage.jpg" alt="Bass Pro Banner"/></li>
                        <li><img src="assets/bannerBigImage2.jpg" alt="Bass Pro Banner"/></li>
                        <li><img src="assets/bannerBigImage3.jpg" alt="Bass Pro Banner"/></li>
                    </ul><br clear="all" />
                </div>

            </div>
        </div>
    </div>

    <div class="bannerMiddle">
        <div class="bassHandContainer">
            <%= image_tag 'bassHandImage.png', class: 'bassHand', alt: 'Bass Hand' %>
            <div class="bassHandText">
                <h3>THE 2013 BASS PRO SHOPS FISHING TOUR</h3>
                <h1>About the Tour</h1>
                <h4>Welcome to the Bass Pro Shops Fishing Tour!</h4>
                <p> Register your team to become eligible for cash and prizes exclusive to Bass Pro Shops Fishing Tour members! We’ll also keep track of your tournament results so you can see how you rank among your rivals. Point leaders qualify for regional events where you’ll compete with the big boys. It’s free, so sign up now!</p>
            </div>
        </div>
        <div class="eventLeaderContainer">
            <div class="event">
                <%= link_to image_tag('eventLogo.png', alt: 'Event Logo'), events_path %>
                <h1>Find an Event</h1>
                <p>Locate a Fishing Tour event near you. then register your team to participate.</p>
                <%= link_to 'Locate Event', events_path %>
            </div>
            <div class="leader">
                <%= link_to image_tag('leaderboardLogo.png', alt: 'Leader Logo'), '#' %>
                <h1>Leaderboard</h1>
                <p>If you've recently participated in your local Fishing Tour event, don't forget to submit tour team results!</p>
                <%= link_to 'Locate Event', '#' %>
            </div>
        </div>
    </div>
</div>
