<% content_for :leaderboard do %>
    <div class="standingsLogo">
        <img src="/assets/standingsBackground.png" alt="Standings">
        <div class="standingsText">
            <h2>Standings</h2>
            <h1>Midwest Region</h1>
    <!--    <p>Jason Cambel</p>
            <p>Jason Cambel</p>
            <p>Jason Cambel</p>
            <p>Jason Cambel</p>
            <p>Jason Cambel</p> -->
        </div>
    </div>
<% end %>

<div id="backgroundMain">
    <div id="wrapper">
        <div class="bannerBigTopBackground">
            <div class="bannerBigTop">
                <div class="bannerBigText">
                    <div class="bannerBigTextCont"><h2>Test the waters with a Free account or Start competing today!</h2></div>
                    <div class="bannerBigTextCont"><h1>Get your team on board the Bass Pro Fishing tour and take your first step to winning prizes and reaching qualifying regional and national events to get started with a free account. </h1></div>
                    <div class="bannerBigTextContButton"><a href="/users/sign_up">CREATE AN ACCOUNT</a></div>
                </div>
                <div class="bannerBigImage">
                    <div class="controller">
                        <div class="sliderButton" onclick="ss.move(1)"> <%= image_tag 'nextButton.png', alt: 'Next Button' %> </div>
                        <ol id="dots" class="dots">
                            <li></li>
                            <li></li>
                            <li></li>
                        </ol>
                    </div>

                    <div id="slideShow">
                        <ul id="slides">
                            <li><%= image_tag 'bannerBigImage.jpg', height: '513', alt: 'Bass Pro Fishing' %></li>
                            <li><%= image_tag 'bannerBigImage2.jpg', height: '513', alt: 'Bass Pro Fishing' %></li>
                            <li><%= image_tag 'bannerBigImage3.jpg', height: '513', alt: 'Bass Pro Fishing' %></li>
                        </ul>
                    </div>

                    <script>
                    var ss = new bass.bassPro.init('ss', {
                        id: 'slides',
                        auto: 1000,
                        resume: false,
                        navid: 'dots',
                        navEvent: 'click',
                        activeClass: 'current',
                        pauseHover: false
                    });
                    </script>
                </div>
            </div>
        </div>

        <div class="bannerMiddleBackground">
            <div class="bannerMiddle">
                <div class="bassHandContainer">
                    <%= image_tag 'bassHandImage.png', class: 'bassHand', alt: 'Bass Hand' %>
                    <div class="bassHandText">
                        <h3>THE 2014 BASS PRO SHOPS FISHING TOUR</h3>
                        <h1>About the Tour</h1>
                        <h2>Welcome to the Bass Pro Shops Fishing Tour</h2>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitati Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatiLorem ipsum dolor sit amet, consectetur</p>
                    </div>
                </div>
                <div class="glowBackground"></div>
                <div class="eventLeaderContainer">
                    <div class="findEvent">
                        <a href="/events"><%= image_tag 'eventLogo.png', class: 'eventLogo', alt: 'Event Logo' %></a>
                    </div>
                    <div class="leaderboard">
                        <%= image_tag 'leaderboardLogo.png', class: 'leaderLogo', alt: 'Leader Logo' %>
                    </div>
                </div>
                <div class="eventLeaderContainerText">
                    <a href="/events"><div class="findEventText">
                        <h1>Find an Event</h1>
                        <p>Locate a Fishing Tour event near you. then register your team to participate.</p>
                        <h3>Locate Event</h3>
                    </div></a>
                    <div class="leaderboardText">
                        <h1>Leaderboard</h1>
                        <p>If you've recently participated in your local Fishing Tour event, don't forget to submit tour team results!</p>
                        <h3>Locate Event</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
