<div class="teamEvents">
    <div class="topDarkBrown">
        <%= image_tag 'iconCal.png', class: 'iconSmallEvents', alt: 'Icon'  %>
        <img class="iconSmallEvents" src="/assets/iconCal.png" alt="Icon">
        <h2>Team Events</h2>
    </div>
    <table>
        <tbody>
            <tr class="topLightBrown">
                <th>Date</th>
                <th>Event Title</th>
                <th>Points</th>
            </tr>
            <% @profile.user.teams.first.events.each do |event| %>
                <tr class"<%= cycle("odd", "even") %>">
                    <td><%= event.date %></td>
                    <td><%= event.name %></td>
                    <td><%= event.date %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>