<div id="tab3" class="tab-pane <%= "active" if params[:tab] && params[:tab] == 'account' %>">
    <div class="teamRegContainer no info">
        <%= form_for(@profile) do |f| %>
        <div class="teamRegContainerForm">
            <% if @profile.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>
                <ul>
                    <% @profile.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
            <% end %>
            <div class="headText">
                <h3>Account Information</h3><%= link_to(image_tag('iconWriteLight.png', class: 'writeIcon editActivate', alt: 'Click on Field to Edit'),'/myprofile#tab3',:id => '') %>
            </div>
            <div class="divideLine"></div>
            <div class="half">
                <%= f.label :first_name %>
                <p><%= @profile.first_name %></p>
            </div>
            <div class="half">
                <%= f.label :last_name %>
                <p><%= @profile.last_name %></p>
            </div>
            <div class="full">
                <%= f.label :street_address %>
                <p><%= @profile.street_address %></p>
            </div>
            <div class="third">
                <%= f.label :suite %>
                <p><%= @profile.suite %></p>
            </div>
            <div class="two thirds">
                <%= f.label :city %>
                <p><%= @profile.city %></p>
            </div>
            <div class="thirds">
                <%= f.label :state %>
                <p><%= @profile.state %></p>
            </div>
            <div class="two thirds">
                <%= f.label :zip %>
                <p><%= @profile.zip %></p>
            </div>
            <div class="two thirds">
                <%= f.label :phone %>
                <p><%= @profile.phone %></p>
            </div>
            <div class="third">
                <%= f.label :ext %>
                <p><%= @profile.ext %></p>
            </div>
            <div class="full">
                <div class="shirtSize">
                    <%= f.label :shirt %>
                    <p><%= @profile.shirt_size %></p>
                </div>
            </div>
            <div class="full">
                <%= f.label :outdoor_rewards_number, "Outdoor Rewards Number" %>
                <p><%= @profile.outdoor_rewards_number %></p>
            </div>
            <div class="actions no">
                <!--<%= f.submit 'Submit' %>-->
            </div>
        </div>
        <% end %>
    </div>
    <div class="teamRegContainer no form hidden">
        <%= render "profiles/account_form", activated: true %>
    </div>
</div>
<script type="text/javascript">
    $(document).on('ready page:load', function(){
        $('.editActivate').click(function(e){
            event.preventDefault();
            $('.teamRegContainer.info').toggleClass('hidden');
            $('.teamRegContainer.form').toggleClass('hidden');
        })
    });
</script>
