<div class="teamEvents">
    <div class="topDarkBrown">
        <%= image_tag 'iconCal.png', class: 'iconSmallEvents', alt: 'Calendar icon' %>
        <h2>My Events <div class="seeAll"><%= link_to 'See all events', events_path %></div></h2>
    </div>
    <table>
        <tbody>
            <tr class="topLightBrown">
                <th class="thLeft">Date</th>
                <th class="thMiddle">Event Title</th>
                <th class="thRight">Status</th>
            </tr>
        </tbody>
    </table>
    <div class="table-container">
        <% if @team.nil? %>
            <p>This user is not yet part of a team, and can't attend events.</p>
        <% elsif @events.nil? %>
            <p>This team isn't signed up for any events yet.</p>
        <% else %>
            <table>
                <tbody>
                    <% @events.each do |event| %>
                        <tr class="<%= cycle("odd", "even") %>">
                            <td class="tdDate"><%= event.date.to_date %></td>
                            <td class="tdName"><%= event.name %></td>
                            <td class="tdStatus"><%= add_status(event) %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        <% end %>
    </div><!-- table container -->
</div>
