<div id="tab2" class="tab-pane <%= "active" if params[:tab] && params[:tab] == 'team' %>">
    <div class="myTourCont">
        <div class="teamContRight">
            <div class="myCont">
                <%= image_tag 'iconBoat.png', class: 'tourBoat', alt: 'Boat Icon' %>
                <h3>Tournament Boat:</h3>

                <% if @team && @is_current_user %>
                    <%= link_to(image_tag('iconWriteLight.png', class: 'writeIcon', alt: 'Write Icon'),'#', :id => 'boat_description') %>
                    <p><%= best_in_place @team, :boat_description, nil: "Tell us what boat your team will be using for the Bass Pro Fishing Tour here.", :activator => '#boat_description' %></p>
                <% else %>
                    <p>No boat info available.</p>
                <% end %>

            </div>
            <div class="divideLine"></div>
            <div class="myCont no">
                <%= image_tag 'iconLure.png', class: 'tourLure', alt: 'Lure Icon' %>
                <h3>Favorite Gear:</h3>

                <% if @team && @is_current_user %>
                    <%= link_to(image_tag('iconWriteLight.png', class: 'writeIcon', alt: 'Write Icon'),'#',:id => 'favorite_gear') %>
                    <p><%= best_in_place @team, :favorite_gear, nil: "Share your favorite gear here or the equipment you have had the best luck with!",:activator => '#favorite_gear'%></p>
                <% else %>
                    <p>No favorite gear available.</p>
                <% end %>

            </div>
            <div class="divideLine"></div>
            <div class="myCont">

                <% if @user.teammate %>
                    <%= drop_profile_teammate_pic(@user.teammate, "tourPerson", :tour, "Person Icon") %>
                <% end %>

               <!--  <% if @is_current_user %>
                    <%= image_tag 'iconWriteLight.png', class: 'writeIcon', alt: 'Write Icon' %>
                <% end %> -->

                <% if @teammate %>
                    <h3>Teammate: <%= @teammate.full_name ? link_to(@teammate.full_name.titleize, profile_path(@teammate.profile,:tab => 'team'))  : "Your Teammate" %></h3>
                    <p><%= @teammate.profile.status || " " %></p>
                <% else %>
                    <h3>Angler Teammate</h3>
                    <p>This information will propagate once a teammate has completed the registration process. </p>
                <% end %>

            </div>
        </div>

        <div class="teamContLeft">
            <% if @is_current_user %>
            <%= link_to select_profile_picture_path, class: "smallPicButton" do %>
            <% end %>

            <%= link_to team_select_profile_picture_path, class: "bigPicButton" do %>
            <% end %>
        <% end %>
            <div class="cutOutContainerLeft">
                <div class="cutOutLeft">
                    <div class="cutTeamLeft"></div>
                    <div class="cutTeamMiddle"><%= image_tag 'cutTourV.png', class: 'cutTeamV', alt: 'Cut Out' %></div>
                    <div class="cutTeamRight"></div>
                </div>
                <%= team_picture(@user.my_team, 'teamPic', :teampro, 'Team Picture') %>
                <div class="cutOutTextTeam">
                    <h2><%= @profile.user.full_name  || "Angler Profile" %></h2>
                    <p><%= @profile.status || " " %></p>
                </div>
            </div>

            <%= image_tag 'iconManFish.png', class: 'manFishLeft', alt: 'Man Fish' %>
            <div class="manFishTextLeft"><p>Upload a Team Photo Here</p></div>
            <div class="picBoxContainerLeft">
                <div class="picBoxTeam">
                    <% unless @team && @team.team_picture.exists? %>
                        <div class="teamDot">
                            <%= image_tag 'teamDot.png', alt: 'Doted' %>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="teamContLeftBot">
                <% if @profile.picture.exists? %>
                   <%= image_tag @profile.picture.url(:teamP), class: 'teamPerson', alt: 'Person Icon' %>
                <% else %>
                   <%= image_tag 'iconPersonFull.png', class: 'teamPerson', alt: 'Person Icon' %>
                <% end %>
            </div>
        </div>
    </div>
</div>
