<h1>Overall Rating</h1>
<div class="half">
    <%= image_tag 'iconMedalGreen.png', alt: 'One Event' %>
</div>
<div class="half">
    <h1>00</h1>
    <h3>Event Points</h3>
    <div class="tour-progress">
        <p>5 events needed to qualify</p>
        <%= image_tag 'icons/fish.png', alt: 'One Event' %>
        <%= image_tag 'icons/fish.png', alt: 'Two Events' %>
        <%= image_tag 'icons/fish.png', alt: 'Three Events' %>
        <%= image_tag 'icons/fish.png', alt: 'Four Events' %>
        <%= image_tag 'icons/fish.png', alt: 'Five Events' %>
    </div>
</div>