<div id="tab1" class="tab-pane active">
    <div class="tour-rank half">
        
        <% if @is_current_user %>
            <!-- THIS NEEDS HELP -->
            <p>Sign up to fish in Tour Events, then check back to track your performance.</p>
        <% else %>
            <p><%= @profile.first_name %> hasn't attended any events yet.  Check back later for their rankings.</p>
        <% end %>

        <div class="tour-progress">
            <p>5 events needed to qualify</p>
            <%= image_tag 'icons/fish.png', alt: 'One Event' %>
            <%= image_tag 'icons/fish.png', alt: 'Two Events' %>
            <%= image_tag 'icons/fish.png', alt: 'Three Events' %>
            <%= image_tag 'icons/fish.png', alt: 'Four Events' %>
            <%= image_tag 'icons/fish.png', alt: 'Five Events' %>
        </div>
    </div>
    <div class="half">
        <% if @is_current_user %>
            <%= link_to select_profile_picture_path, class: "smallPicButton" do %>
            <% end %>

            <%= link_to team_select_profile_picture_path, class: "bigPicButton" do %>
            <% end %>
        <% end %> 

         <div class="cutOutContainer">
            <%= image_tag 'cutOutRight.png', class: 'cutOutRight', alt: 'Cut Out' %>
            <%= image_tag @team.team_picture.url(:tourpro), class: 'tourPic', alt: 'Tour Picture' unless !@team || !@team.team_picture.exists? %>
            <div class="cutOutText">
                <h2><%= @profile.first_name || "My Profile" %></h2>
                <p>Franki Five-Fishes Andolini Partners with Joe Pesce for 2 years. 21 points for the 2014 season.  </p>
            </div>
        </div>

        <%= image_tag 'iconManFish.png', class: 'manFishRight', alt: 'Man Fish' %>
        <div class="manFishTextRight"><p>Upload a Team Photo Here</p></div>
        <div class="picBoxContainer">
            <%= image_tag 'picBox.png', class: 'picBox', alt: 'Picture Box' %>
        </div>
        <div class="tourContRightBot">
            <%= link_to select_profile_picture_path  do %>
                <% if @profile.picture? %>
                    <%= image_tag @profile.picture.url(:tour), class: 'tourPersonMain', alt: 'Person Icon' %>
                <% else %>
                    <%= image_tag 'iconPersonBig.png', class: 'tourPersonMain', alt: 'Person Icon' %>
                <% end %>
            <% end %>
        </div>
    </div>
</div>