<h1>Overall Rating</h1>
<div class="half medalIcon">
    <%= image_tag 'iconMedalGreen.png', alt: 'One Event' %>
</div>
<div class="half ratingText">
    <h3>00</h3>
    <h4>Event Points</h4>
    <div class="tour-progress">
        <p>5 events needed to qualify</p>
        <%= image_tag 'icons/fish.png', alt: 'One Event' %>
        <%= image_tag 'icons/fish.png', alt: 'Two Events' %>
        <%= image_tag 'icons/fish.png', alt: 'Three Events' %>
        <%= image_tag 'icons/fish.png', alt: 'Four Events' %>
        <%= image_tag 'icons/fish.png', alt: 'Five Events' %>
    </div>
</div>