<div id="tab1" class="tab-pane <%= "active" unless params[:tab] && (params[:tab] == 'team' || params[:tab] == 'account') %>">
    <div class="tour-rank half">
        <% if @user.scores.count > 0 %>
            <%= render 'profiles/tour_tab_events' %>
        <% else %>
            <%= render 'profiles/tour_tab_noevents' %>
        <% end %>
    </div>
    <div class="half">
         <div class="cutOutContainer">
            <div class="cutOutRight">
                <div class="cutTourLeft"></div>
                <div class="cutTourMiddle"><%= image_tag 'cutTourV.png', class: 'cutTourV', alt: 'Cut Out' %></div>
                <div class="cutTourRight"></div>
            </div>
            <%= image_tag @team.team_picture.url(:tourpro), class: 'tourPic', alt: 'Tour Picture' unless !@team || !@team.team_picture.exists? %>
            <div class="cutOutText">
                <h2><%= @profile.user.full_name  || "My Profile" %></h2>
                <p><%= best_in_place_if (!current_user.nil? && @profile.id == current_user.profile.id && !@new_user), @profile, :status, nil: "Tell us a little about yourself and why you are here!"  %></p>
            </div>
        </div>
        <div class="picBoxContainer">
            <% unless @team && @team.team_picture.exists? %>
            <%= image_tag 'iconManFish.png', class: 'manFishRight', alt: 'Man Fish' %>
            <div class="manFishTextRight"><p><%= !current_user.nil? && @profile.id == current_user.profile.id ? "Go to My Team Profile to upload a Team Photo" : "No Team Photo" %></p></div>
            <% end %>
            <% unless @team && @team.team_picture.exists? %>
            <div class="picBox">

                <div class="tourDot">
                    <%= image_tag 'tourDot.png', alt: 'Doted' %>
                </div>
            </div>
            <% end %>
        </div>
        <div class="tourContRightBot">
                <% if @profile.picture.exists? %>
                    <%= image_tag @profile.picture.url(:tour), class: 'tourPersonMain', alt: 'Person Icon' %>
                <% else %>
                    <%= image_tag 'iconPersonBig.png', class: 'tourPersonMain', alt: 'Person Icon' %>
                <% end %>
        </div>
    </div>
</div>
