<%= render "shared/ads_bps" %>

<div class="tabContBackground">
    <div class="tabContainer">
        <ul class="nav nav-tabs" id="myTabs">
            <li class="<%= "active" unless params[:tab] && (params[:tab] == 'team' || params[:tab] == 'account') %>">
                <a data-toggle="tab" href="#tab1">
                    <div class="tabIconContainer">
                        <%= image_tag 'iconFishTab.png', id: 'fishSolo', class: 'iconSmall', alt: 'Fish Icon' %>
                        <div class="tabText">Tour</div>
                    </div>
                </a>
            </li>
            <li class="<%= "active" if params[:tab] && params[:tab] == 'team' %>">
                <a data-toggle="tab" href="#tab2">
                    <div class="tabIconContainer">
                        <%= image_tag 'iconPerson.png', class: 'iconSmall', alt: 'Person Icon' %>
                        <div class="tabText">Team Profile</div>
                    </div>
                </a>
            </li>
        </ul>
        <div class="tabbable">
            <div class="tab-content">
                <%= render "tour_tab" %>
                <%= render "team_pro_tab" %>
            </div>
        </div>

        <script type="text/javascript">
            $("#accountOn").on("click", function(event){
                if(($(this).attr("class")) != "active"){
                    $(".tabMidLeftCont, .tabMidRightCont").hide();
                }
            });
            $(".nav-tabs li").on("click", function(event){
                if((($(this).attr("id")) != "accountOn")){
                    $(".tabMidLeftCont, .tabMidRightCont").show();
                }
            });

            $(".nav-tabs li").on("click", function(event){
                if(($(this).attr("class")) != "accountOn"){
                    $(".adImg2, .adImg3, .adImg4").hide();
                }
            });
            $("#accountOn").on("click", function(event){
                if((($(this).attr("id")) != "active")){
                    $(".adImg2, .adImg3").show();
                }
            });
        </script>

        <div class="tabMiddleContainer">
            <div class="tabMidLeftCont">
                <%= render 'my_events', :locals => { :profile => @profile } %>
            </div>

            <div class="tabMidRightCont">
                <div class="leaderboard">
                    <div class="topBlue">
                        <%= image_tag 'iconGlobe.png', class: 'iconSmallEvents', alt: 'Icon' %>
                        <h2><%= link_to 'Leaderboard', leaderboard_path %></h2>
                    </div>
                    <%= render 'leaderboard/team_scores_small' %>
                </div>
                <div class="myRegion">
                    <div class="topGreen">
                        <%= image_tag 'iconMed.png', class: 'iconSmallEvents', alt: 'Icon' %>
                        <h2><%= link_to 'My Region', events_path %></h2>
                    </div>
                    <div class="bottomGreyFlat"><%= link_to 'Events in my region', events_path %></div>
                </div>
            </div>
        </div>
    </div>
</div>
