<%= render "shared/ads_bps" %>

<div class="tabContBackground">
    <div class="tabContainer">
        <ul class="nav nav-tabs" id="myTabs">
            <li class="active">
                <a data-toggle="tab" href="#tab1">
                    <div class="tabIconContainer">
                        <%= image_tag 'iconFishTab.png', id: 'fishSolo', class: 'iconSmall', alt: 'Fish Icon' %>
                        <div class="tabText">My Tour</div>
                    </div>
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#tab2">
                    <div class="tabIconContainer">
                        <%= image_tag 'iconPerson.png', class: 'iconSmall', alt: 'Person Icon' %>
                        <div class="tabText">My Team Profile</div>
                    </div>
                </a>
            </li>
        </ul>
        <div class="tabbable">
            <div class="tab-content">
                <div id="tab1" class="tab-pane active">
                    <div class="tour-rank half">
                        <p>This user hasn't attended any events yet.  Check back later for their rankings.</p>
                        <div class="tour-progress">
                            <p>5 events needed to qualify</p>
                            <%= image_tag 'icons/fish.png', alt: 'One Event' %>
                            <%= image_tag 'icons/fish.png', alt: 'Two Events' %>
                            <%= image_tag 'icons/fish.png', alt: 'Three Events' %>
                            <%= image_tag 'icons/fish.png', alt: 'Four Events' %>
                            <%= image_tag 'icons/fish.png', alt: 'Five Events' %>
                        </div>
                    </div>
                    <div class="half">
                        <%= image_tag 'iconManFish.png', class: 'manFishRight', alt: 'Man Fish' %>
                        <div class="manFishTextRight"><p>Upload a Team Photo Here</p></div>
                        <div class="picBoxContainer">
                            <%= image_tag 'picBox.png', class: 'picBox', alt: 'Picture Box' %>
                        </div>
                        <div class="tourContRightBot">
                            <%= image_tag 'iconPersonBig.png', class: 'tourPersonMain', alt: 'Person Icon' %>
                            <div class="tourPersonText">
                                <h3>My Teammate</h3>
                                <p>Your team information will propagate here once your teammate completes registration.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab2" class="tab-pane">
                    <div class="myTourCont">
                        <div class="teamContRight">
                            <div class="myCont">
                                <%= image_tag 'iconWriteLight.png', class: 'writeIcon', alt: 'Write Icon' %>
                                <%= image_tag 'iconBoat.png', class: 'tourBoat', alt: 'Boat Icon' %>
                                <h3>Tournament Boat:</h3>
                                <p>Tell us what boat your team will be using for the Bass Pro Fishing Tour here.</p>
                            </div>
                            <div class="divideLine"></div>
                            <div class="myCont no">
                                <%= image_tag 'iconWriteLight.png', class: 'writeIcon', alt: 'Write Icon' %>
                                <%= image_tag 'iconLure.png', class: 'tourLure', alt: 'Lure Icon' %>
                                <h3>Favorite Gear:</h3>
                                <div class="gearTextCont">
                                    <form method="post">
                                        <textarea name="comments" cols="25" rows="3" placeholder="Share your favorite gear here or the equipment you have had the best luck with!"></textarea>
                                    </form>
                                </div>
                            </div>
                            <div class="divideLine"></div>
                            <div class="myCont">
                                <%= image_tag 'iconWriteLight.png', class: 'writeIcon', alt: 'Write Icon' %>
                                <%= image_tag 'iconPersonSmall.png', class: 'tourPerson', alt: 'Person Icon' %>
                                <h3>My Teammates</h3>
                                <p>This information will propagate once your teammate has completed the registration process. </p>
                            </div>
                        </div>

                        <div class="teamContLeft">
    <!--
                             <div class="cutOutContainerLeft">
                                <%= image_tag 'cutOutLeft.png', class: 'cutOutLeft', alt: 'Cut Out' %>
                                <%= image_tag 'teamPic.jpg', class: 'teamPic', alt: 'Team Picture' %>
                                <div class="cutOutTextTeam">
                                    <h2>My Teammates</h2>
                                    <p>Franki “Five-Fishes” Andolini Partners with Joe Pesce for 2 years. 21 points for the 2014 season.  </p>
                                </div>
                            </div>
     -->
                            <%= image_tag 'iconManFish.png', class: 'manFishLeft', alt: 'Man Fish' %>
                            <div class="manFishTextLeft"><p>Upload a Team Photo Here</p></div>
                            <div class="picBoxContainerLeft">
                                <%= image_tag 'picBoxLeft.png', class: 'picBoxLeft', alt: 'Picture Box' %>
                            </div>
                            <div class="teamContLeftBot">
                                <%= image_tag 'iconWriteLight.png', class: 'writeIcon', alt: 'Write Icon' %>
                                <%= image_tag 'iconPersonFull.png', class: 'teamPerson', alt: 'Person Icon' %>
                                <div class="teamPersonText">
                                    <h3>Your Name</h3>
                                    <p>"Come up with some clever advice here or a brief bio."</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $("#accountOn").on("click", function(event){
                if(($(this).attr("class")) != "active"){
                    $(".tabMidLeftCont, .tabMidRightCont").hide();
                }
            });
            $(".nav-tabs li").on("click", function(event){
                if((($(this).attr("id")) != "accountOn")){
                    $(".tabMidLeftCont, .tabMidRightCont").show();
                }
            });

            $(".nav-tabs li").on("click", function(event){
                if(($(this).attr("class")) != "accountOn"){
                    $(".adImg2, .adImg3, .adImg4").hide();
                }
            });
            $("#accountOn").on("click", function(event){
                if((($(this).attr("id")) != "active")){
                    $(".adImg2, .adImg3").show();
                }
            });
        </script>

        <div class="tabMiddleContainer">
            <div class="tabMidLeftCont">
                <%= render 'my_events', :locals => { :profile => @profile } %>
            </div>

            <div class="tabMidRightCont">
                <div class="leaderboard">
                    <div class="topBlue">
                        <%= image_tag 'iconGlobe.png', class: 'iconSmallEvents', alt: 'Icon' %>
                        <h2>Leaderboard</h2>
                    </div>
                    <p>Check back soon to track results from the first events of the 2013 Bass Pro Shops Fishing Tour!</p>
                </div>
                <div class="myRegion">
                    <div class="topGreen">
                        <%= image_tag 'iconMed.png', class: 'iconSmallEvents', alt: 'Icon' %>
                        <h2>My Region</h2>
                    </div>
                    <div class="bottomGreyFlat"></div>
                </div>
            </div>
        </div>
    </div>
</div>