<%= render "shared/ads_bps" %>

<div class="tabContainer">
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab1">My Tour</a></li>
        <li><a data-toggle="tab" href="#tab2">Team Profile</a></li>
        <li><a data-toggle="tab" href="#tab3">My Account</a></li>
      </ul>
      <div class="tab-content">
        <div id="tab1" class="tab-pane active">
            <div class="tourContLeft">
                <div class="overRank">Overall Rankings</div>
                <img class="iconMedal" src="/assets/iconMedal.png" alt="Medal Logo">
                <div class="iconMedalText">
                    <h1>00</h1>
                    <h2>Event Points</h2>
                    <div class="divideLine"></div>
                        <p>3 Events Needed to Qualify</p>
                        <div class="lineFish">
                            <img class="iconFish" src="/assets/fishLoginLogo.png" alt="Fish">
                            <img class="iconFish" src="/assets/fishLoginLogo.png" alt="Fish">
                            <img class="iconFish" src="/assets/fishLoginLogo.png" alt="Fish">
                            <img class="iconFish" src="/assets/fishLoginLogo.png" alt="Fish">
                            <img class="iconFish" src="/assets/fishLoginLogo.png" alt="Fish">
                        </div>
                    <div class="divideLine"></div>
                </div>
            </div>
            <div class="tourContRight">
                <img class="manFish" src="/assets/iconManFish.png" alt="Man Fish">
                <img class="picBox" src="/assets/picBox.png" alt="Picture Box">
                <div class="tourContRightBot">
                    <img class="tourPerson" src="/assets/iconPersonBig.png" alt="Person Icon">
                    <div class="tourPersonText">
                        <h2>My Teammate</h2>
                        <p>Your team information will propogate here once the pending approval is has gone through.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="tab2" class="tab-pane">
            <div class="myTourCont">
                <div class="teamContRight">
                    <div class="myCont">
                        <img class="tourBoat" src="/assets/iconBoat.png" alt="Boat Icon">
                        <h3>My Boat:</h3>
                        <p>Find out your boat info here!</p>
                    </div>
                    <div class="divideLine"></div>
                    <div class="myCont no">
                        <img class="tourLure" src="/assets/iconLure.png" alt="Lure Icon">
                        <h3>Favorite Gear:</h3>
                        <div class="gearTextCont">
                            <form method="post">
                                <textarea name="comments" cols="25" rows="3" placeholder="Share your favorite gear here or the equipment you have had the best luck with!">
                                </textarea>
                            </form>
                        </div>
                    </div>
                    <div class="divideLine"></div>
                    <div class="myCont">
                        <img class="tourPerson" src="/assets/iconPersonBig.png" alt="Person Icon">
                        <h3>My Teammates</h3>
                        <p>Franki “Five-Fishes” Andolini Partners with Joe Pesce for 2 years. 21 points for the 2014 season. </p>
                    </div>
                </div>

                <div class="teamContLeft">
                    <img class="manFish" src="/assets/iconManFish.png" alt="Man Fish">
                    <img class="picBoxRight" src="/assets/picBoxRight.png" alt="Picture Box">
                    <div class="tourContRightBot">
                        <img class="tourPerson" src="/assets/iconPersonBig.png" alt="Person Icon">
                        <div class="tourPersonText">
                            <h2>My Teammate</h2>
                            <p>Your team information will propogate here once the pending approval is has gone through.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tab3" class="tab-pane">
        <p id="notice"><%= notice %></p>
        <div class="teamRegContainer no">
            <%= form_for(@profile) do |f| %>
            <div class="teamRegContainerForm">
                    <% if @profile.errors.any? %>
                        <div id="error_explanation">
                            <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

                            <ul>
                                <% @profile.errors.full_messages.each do |msg| %>
                                    <li><%= msg %></li>
                                <% end %>
                            </ul>
                        </div>
                    <% end %>
                    <div class="regTopText">
                        <h3>My Account</h3>
                        <div class="divideLine"></div>
                        <div class="accountInput">
                            <div class="emailInput">
                                <%= f.label :email %>
                                <%= f.text_field :phone %>
                            </div>
                            <div class="passwordInput">
                                <%= f.label :password %>
                                <%= f.text_field :phone %>
                            </div>
                        </div>
                    </div>
                    <div class="headText">
                        <h3>Personal Information</h3>
                    </div>
                    <div class="divideLine"></div>
                    <div class="half">
                        <%= f.label :first_name %>
                        <%= f.text_field :first_name %>
                    </div>
                    <div class="half">
                        <%= f.label :last_name %>
                        <%= f.text_field :last_name %>
                    </div>
                    <div class="full">
                        <%= f.label :street_address %>
                        <%= f.text_field :street_address %>
                    </div>
                    <div class="third">
                        <%= f.label :suite %>
                        <%= f.text_field :suite %>
                    </div>
                    <div class="two thirds">
                        <%= f.label :city %>
                        <%= f.text_field :city %>
                    </div>
                    <div class="thirds">
                        <%= f.label :state %>
                        <%= f.text_field :state %>
                    </div>
                    <div class="two thirds">
                        <%= f.label :zip %>
                        <%= f.text_field :zip %>
                    </div>
                    <div class="two thirds">
                        <%= f.label :phone %>
                        <%= f.text_field :phone %>
                    </div>
                    <div class="third">
                        <%= f.label :ext %>
                        <%= f.text_field :ext %>
                    </div>
                    <div class="third">
                        <%= f.label :shirt %>
                        <%= f.select :shirt, [['Select Size', 1], ['XS', 2], ['S', 3], ['M', 4], ['L', 5], ['XXL', 6], ['XXXL', 7]] %>
                    </div>
                    <div class="full">
                        <%= f.label :outdoor_rewards_number %>
                        <%= f.text_field :outdoor_rewards_number %>
                        <p>I don't have an Outdoor Rewards Number. Sign me up!</p>
                    </div>
                    <div class="actions no">
                        <%= f.submit 'Submit' %>
                    </div>
                    <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tabMiddleContainer">
    <div class="tabMidLeftCont">
        <div class="teamEvents">
            <div class="topDarkBrown">
                <h2>Team Events</h2>
            </div>
            <div class="topLightBrown">
                <div class="teamList"><h3>Date</h3></div>
                <div class="teamList"><h3>Event Title</h3></div>
                <div class="teamListL"><h3>Points</h3></div>
            </div>
            <div class="bottomBrown">
                <div class="dateRow">
                    <p>03/12/13</p>
                    <p>03/12/13</p>
                    <p>03/12/13</p>
                    <p>03/12/13</p>
                </div>
                <div class="eventRow">
                    <p>Lake of the Ozarks</p>
                    <p>Lake of the Avarks</p>
                    <p>Lake of the Fishies</p>
                    <p>Lake of the Mayan Ruin</p>
                </div>
                <div class="pointRow">
                    <p>03/12/13</p>
                    <p>03/12/13</p>
                    <p>03/12/13</p>
                    <p>03/12/13</p>
                </div>
            </div>
        </div>
        <div class="upcomingTeamEvents">
            <div class="topDarkBrown">
                <h2>Upcoming Team Events</h2>
            </div>
            <div class="topLightBrown">
                <div class="teamList"><h3>Date</h3></div>
                <div class="teamList"><h3>Event Title</h3></div>
            </div>
            <div class="bottomBrown">
                <div class="dateRow">
                    <p>03/12/13</p>
                    <p>03/12/13</p>
                    <p>03/12/13</p>
                    <p>03/12/13</p>
                </div>
                <div class="eventRow">
                    <p>2013 Carhartt College Series</p>
                    <p>2013 Sabine River Challenge</p>
                    <p>2013 Ellite Series </p>
                    <p>2013 Alabama River Charge</p>
                </div>
                <div class="pointRow">
                    <p>03/12/13</p>
                    <p>03/12/13</p>
                    <p>03/12/13</p>
                    <p>03/12/13</p>
                </div>
            </div>
        </div>
    </div>

    <div class="tabMidRightCont">
        <div class="leaderboard">
            <div class="topBlue">
                <h2>Leaderboard</h2>
            </div>
            <div class="bottomGrey">
                <div class="greyCont">
                    <p>Team "JigHEad"</p>
                    <p>37pts</p>
                </div>
                <div class="greyCont">
                    <p>Team "JigHEad"</p>
                    <p>37pts</p>
                </div>
                <div class="greyCont">
                    <p>Team "JigHEad"</p>
                    <p>37pts</p>
                </div>
                <div class="greyCont">
                    <p>Team "JigHEad"</p>
                    <p>37pts</p>
                </div>
            </div>
        </div>
        <div class="myRegion">
            <div class="topGreen">
                <h2>My Region</h2>
            </div>
            <div class="bottomGrey">
                <div class="greyCont">
                </div>
                <div class="greyCont">
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {

        $('.ajax').click(function (e) {
          var thisTab = e.target
          var pageTarget = $(thisTab).attr('href');
          var itemNumber = $(this).parent().index()+1;
          $("#tab"+itemNumber).load(pageTarget);

        });
    });
</script>
