<div class="tabContainer">
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab1">Mt Tour</a></li>
        <li><a data-toggle="tab" href="#tab2">Team Profile</a></li>
        <li><a data-toggle="tab" href="#tab3">My Account</a></li>
      </ul>
      <div class="tab-content">
        <div id="tab1" class="tab-pane active">
            Stuuf
        </div>
        <div id="tab2" class="tab-pane">
            sdfsdfsdfdsfsdfsdfdsf121123123123
        </div>
        <div id="tab3" class="tab-pane">
            <p id="notice"><%= notice %></p>
    <%= form_for(@profile) do |f| %>
    <div class="teamRegContainerForm">
            <% if @profile.errors.any? %>
                <div id="error_explanation">
                    <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

                    <ul>
                        <% @profile.errors.full_messages.each do |msg| %>
                            <li><%= msg %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>
            <div class="regTopText">
                <h3>Register Your Team</h3>
                <p>By registering for a Team Membership, you'll unlock the full benifits of the tour, including opportunities to win exciting prize and to qualify for regional and national championship events.</p>
                <h2>Learn more about Team Memberships.</h2>
            </div>
            <h3>Personal Information</h3>
            <div class="divideLine"></div>
            <div class="half">
                <%= f.label :first_name %>
                <%= f.text_field :first_name %>
            </div>
            <div class="half">
                <%= f.label :last_name %>
                <%= f.text_field :last_name %>
            </div>
            <div class="full">
                <%= f.label :street_address %>
                <%= f.text_field :street_address %>
            </div>
            <div class="third">
                <%= f.label :suite %>
                <%= f.text_field :suite %>
            </div>
            <div class="two thirds">
                <%= f.label :city %>
                <%= f.text_field :city %>
            </div>
            <div class="thirds">
                <%= f.label :state %>
                <%= f.text_field :state %>
            </div>
            <div class="two thirds">
                <%= f.label :zip %>
                <%= f.text_field :zip %>
            </div>
            <div class="two thirds">
                <%= f.label :phone %>
                <%= f.text_field :phone %>
            </div>
            <div class="third">
                <%= f.label :ext %>
                <%= f.text_field :ext %>
            </div>
            <div class="third">
                <%= f.label :shirt %>
                <%= f.select :shirt, [['Select Size', 1], ['XS', 2], ['S', 3], ['M', 4], ['L', 5], ['XXL', 6], ['XXXL', 7]] %>
            </div>
            <div class="full">
                <%= f.label :outdoor_rewards_number %>
                <%= f.text_field :outdoor_rewards_number %>
                <p>I don't have an Outdoor Rewards Number. Sign me up!</p>
            </div>
            <div class="actions">
                <%= f.submit 'Continue' %>
            </div>
        <% end %>
        </div>
        </div>
      </div>
    </div>
</div>

<script type="text/javascript">
        $(function() {

            $('.ajax').click(function (e) {
              var thisTab = e.target
              var pageTarget = $(thisTab).attr('href');
              var itemNumber = $(this).parent().index()+1;
              $("#tab"+itemNumber).load(pageTarget);

            });
        });
    </script>
