<% board.sort! { |x, y| x[:total_score] <=> y[:total_score] } %>

<table class="board table table-hover">
    <caption>
        Teams with
        <% if board[0][:events_attended] >= 5 %>
            5+ Events
        <% else %>
            <%= pluralize("#{board[0][:events_attended]}",'Event') %>
        <% end %>
    </caption>
    <thead>
        <tr>
            <th class="span2">Position</th>
            <th class="span8">Anglers</th>
            <th class="span2">Total Score</th>
        </tr>
    </thead>
    <tbody>
        <% board.each_with_index do |team, index| %>
            <tr>
                <td class="span2"><%= index + 1 %></td>
                <td class="span8"><%= link_to team[:team].users.first.full_name, profile_path(team[:team].users.first.profile.id) %>
                    and
                    <%= link_to team[:team].users.last.full_name, profile_path(team[:team].users.last.profile.id) %></td>
                <td class="span2"><strong><%= team[:total_score] %></strong></td>
            </tr>
        <% end %>
    </tbody>
</table>
