<%= render "shared/ads_bps" %>

<div id="leaderContainer">
    <div class="staticContainer">
        <%= render_notification %>

        <div class="staticTopBar topBlue">
            <%= image_tag 'iconMed.png', class: 'iconLeader', alt: 'Anglers' %>
            <h1>Leaderboard</h1>
        </div>

        <div class="leaderBotCont">
            <p>The Bass Pro Shops Fishing Tour leaderboards report team scores based on the number of events fished by each team. To qualify for all of the Bass Pro Shops Fishing Tour perks, your team must fish in a minimum of five CSFL sanctioned events. Check back often for updates.</p>
            <a href="/news/2013/10/07/congratulations-to-our-top-ten-finishers" class="alert top-ten">The top 10 teams qualify for free entry to the Lake Simcoe Open!</a>

            <% board = @boards[5] %>
            <%= render(partial: 'table', locals: { board: board }) if board.present? %>

            <% board = @boards[4] %>
            <%= render(partial: 'table', locals: { board: board }) if board.present? %>

            <% board = @boards[3] %>
            <%= render(partial: 'table', locals: { board: board }) if board.present? %>

            <% board = @boards[2] %>
            <%= render(partial: 'table', locals: { board: board }) if board.present? %>

            <% board = @boards[1] %>
            <%= render(partial: 'table', locals: { board: board }) if board.present? %>


        </div>

    </div>
</div>
