<% content_for :advertise do %>
    <div class="standingsLogo">
        <div class="adSpace"></div>
          <%= image_tag 'ad1.png', class: 'adImg', alt: 'Ad' %>
          <%= image_tag 'ad2.png', class: 'adImg', alt: 'Ad' %>
          <%= image_tag 'ad3.png', class: 'adImg', alt: 'Ad' %>
          <%= image_tag 'ad4.png', class: 'adImg', alt: 'Ad' %>
        </div>
<% end %>

<div class="backgroundLogin">
    <div class="formContainer">
        <div class="bassLoginLogo">
            <%= image_tag 'bassLoginLogo.png', class: 'bassLoginLogo', alt: 'Bass Pro Shops Fishing Tour logo' %>
        </div>

        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div><%= f.label :email, class: "submitLoginText" %>
          <%= f.email_field :email, :autofocus => true, class: "submitLogin" %></div>

          <div><%= f.label :password, class: "submitLoginText" %>
          <%= f.password_field :password, class: "submitLoginKey" %></div>

          <div><%= f.label :password_confirmation, class: "submitLoginText" %>
          <%= f.password_field :password_confirmation, class: "submitLoginKey" %></div>

          <div><%= f.submit "GO", class: "greenButton" %></div>
        <% end %>

        <%= render "devise/shared/links" %>
    </div>
</div>