<div class="backgroundLogin">
    <div class="forgotForm">
        <div class="bassLoginLogo">
            <%= image_tag 'bassLoginLogo.png', class: 'bassLoginLogo', alt: 'Bass Pro Shops Fishing Tour logo' %>
        </div>
        <h2>Forgot Your Password?</h2>

        <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
          <%= devise_error_messages! %>

          <div><%= f.label :email, class: "submitLoginText" %>
          <%= f.email_field :email, :autofocus => true, :autofocus => true, class: "submitLoginEmail" %></div>

          <div><%= f.submit "Send Request", class: "regButton"  %></div>
        <% end %>

        <div class="noStyle"><%= render "devise/shared/links" %></div>
    </div>
</div>