<%= render "shared/ads_bps" %>
<div id="eventScoresContainer">
	<div class="staticContainer">
		<div class='staticTopBar topBlue'>
			<h1> <%= Event.find(params[:id]).name %> Rankings</h1>
		</div>
		<div class='eventScoreInnerContainer'>
			<table>
				<thead>
					<tr>
						<th>Rank</th>
						<th>Angler</th>
						<th>Co-Angler</th>
						<th>Weight</th>
						<th>BF</th>
						<th>HP</th>
					</tr>
				</thead>
				<tbody>
					<% @scores.each do |score| %>
						<tr>
							<td> <%= score.position %> </td>
							<td> <%= score.angler %> </td>
							<td> <%= score.co_angler %> </td>
							<td> <%= '%.2f' % score.weight if score.weight %> </td>
							<td> <%= score.bf %> </td>
							<td> <%= score.hp %> </td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>