<% content_for :leaderboard do %>
    <div class="standingsLogo">
        <%= image_tag 'standingsBackground.png', alt: 'Standings' %>
        <div class="standingsText">
            <h2>Standings</h2>
            <%= render 'leaderboard/team_scores_mini' %>
            <%= link_to "Full Leaderboard", leaderboard_path %>
        </div>
    </div>
<% end %>

<div id="eventContainer">
    <div class="eventContainer">
        <div class="findAnEvent">
            <%= render_notification %>

            <div class="findAnEventText"><h2>FIND AN EVENT</h2></div>
            <div class="findAnEventSmall"><h2>Ontario, Canada Region</h2></div>
            <p>The Ontario Region of the Bass Pro Shops Fishing Tour features all 2013 CSFL tournaments as sanctioned qualifying events. Use the left and right arrows below to scroll through each CSFL division and add events to your Bass Pro Shops Fishing Tour.</p>

        </div>
        <div class="bassEventMap">
            <div id="slideshowMap" class="carousel slide">
                <div id="slidesContainer" class="carousel-inner">
                    <% @divisions.select { |division| division.events.present? }.each_with_index do |division, index| %>
                        <div class="item <%= 'active' if index == 0 %>" data-division="<%= division.id %>">
                            <%= image_tag 'mapOntario.png', alt: 'Ontario', class: 'mapOntario' %>
                            <h2 class="mapTextContainer">
                                CSFL BassMania (BM)
                                <hr>
                                <%= division.name %>
                            </h2>
                        </div>
                    <% end %>
                </div>
                <a class="control left" href='#slideshowMap' data-slide="prev"><%= image_tag 'icons/previous.png', alt: 'Previous Division' %></a>
                <a class="control right" href='#slideshowMap' data-slide="next"><%= image_tag 'icons/next.png', alt: 'Next Division' %></a>
                <ol class="carousel-indicators">
                    <% @divisions.select { |division| division.events.present? }.count.times do |index| %>
                        <li data-target="#slideshowMap" data-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
                    <% end %>
                </ol>
            </div>
        </div>
        <% @events.each do |event| %>
            <div class="bassAttendBG">
                <div class="bassEventAttendBackground" data-division="<%= event.divisions.map { |division| division.id }.join(' ') %>">
                    <div class="bassEventAttendText">
                        <div class="rankingsButton"> <%= button_to 'Rankings', event_scores_path(event.id), method: :get, class: :seeRankButton if Score.where(event_id: event.id).length > 0 %> </div>
                        <div class="bassET"><h2><%= event.name %></h2></div>
                        <div class="bassET">
                            <p><%= "#{event.city}, #{ event.province || event.state } #{event.country} #{event.postal_code}" %></p>
                            <p><%= "#{event.date.to_date.to_formatted_s :long}" %></p>
                        </div>
                    </div>
                    <% if user_signed_in? && current_user.my_team %>
                        <div class="actions-container">
                            <p class="is-fishing"><%= event.date >= Time.now ? 'Is your team fishing in this event?':'Did your team fish in this event?' %></p>
                            <div class="yesNoContainer">
                                    <% if current_user.my_team.events.include?(event) %>
                                        <%= image_tag 'iconCheck.png', class: "ifYes" , alt: 'Check Mark' %>
                                    <% end %>

                                    <%= button_to "Yes", register_event_path(event), class: 'enterEventButton' %>

                                    <% if !current_user.my_team.events.include?(event) %>
                                        <%= image_tag 'iconCheck.png', class: "ifNo", alt: 'Check Mark' %>
                                        <%= button_to "No", unregister_event_path(event), class: 'noEventButton' %>
                                    <% else %>
                                        <%= button_to "No", unregister_event_path(event), class: 'noEventButton deemphasized' %>
                                    <% end %>

                            </div>
                        </div>
                    <% else %>
                        <div class="actions-container">
                            <%= link_to event.date > Time.now ? "Sign up and register your team to attend." : "Sorry you missed this event. Sign up and register your team for future events." , new_user_registration_path, class: "is-fishing"%>
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>
