<%= render "shared/ads_bps" %>

<div id="newsContainer">
    <div class="staticContainer">
        <div class="staticTopBar topDarkBrown">
            <%= image_tag 'iconNews.png', class: 'iconNews', alt: 'Anglers' %>
            <h1>News</h1>
        </div>

        <div class="newsBotCont">
            <div class="mediaCont">
                <div class="media">
                    <%# <%= link_to image_tag('http://placebear.com/100/100'), '#', class: 'media-image' %>
                    <div class="media-body">
                        <h2><%= link_to 'A Reminder About Tour Eligibility', '/news/2013/08/20/a-reminder-about-tour-eligibility' %></h2>
                        <p>As the Bass Pro Shops Fishing Tour rounds out the last tournaments of the CSFL season, we would like to remind our anglers of the rules for eligibility.</p>
                        <%= link_to 'Read full article', '/news/2013/08/20/a-reminder-about-tour-eligibility' %>
                    </div>
                </div>
            </div>
            <div class="mediaCont">
                <div class="media">
                    <%# <%= link_to image_tag('http://placebear.com/100/100'), '#', class: 'media-image' %>
                    <div class="media-body">
                        <h2><%= link_to 'Competitive Sport Fishing League Announcement', '/news/2013/06/28/competitive-sport-fishing-league-announcement' %></h2>
                        <p>Toronto, Ontario – Friday, June 28, 2013, the Competitive Sport Fishing League announced today BASS PRO SHOPS, the world’s largest outdoor retailer has chosen the CSFL and its anglers to help develop its new Bass Pro Shops Fishing Tour that will unite top anglers from across North America in search of the Ultimate Angler!</p>
                        <%= link_to 'Read full article', '/news/2013/06/28/competitive-sport-fishing-league-announcement' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
