<% content_for :advertise do %>
    <div class="standingsLogo">
        <div class="adSpace"></div>
        <img class="adImg" src="/assets/ad1.png" alt="Ad">
        <img class="adImg" src="/assets/ad2.png" alt="Ad">
        <img class="adImg" src="/assets/ad3.png" alt="Ad">
        <img class="adImg"src="/assets/ad4.png" alt="Ad">
    </div>
<% end %>

<div class="backgroundLogin">
    <div class="formContainer">
        <div class="bassLoginLogo">
            <%= image_tag 'bassLoginLogo.png', class: 'bassLoginLogo', alt: 'Bass Pro Shops Fishing Tour logo' %>
        </div>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>



            <%= f.label :email, class: "submitLoginText" %>
            <%= f.email_field :email, :autofocus => true, class: "submitLogin" %>

            <%= f.label :password, class: "submitLoginText" %>
            <%= f.password_field :password, class: "submitLoginKey" %>

            <% if devise_mapping.rememberable? -%>
                <%= f.check_box :remember_me, class: "submitLoginCheck" %> <%= f.label :remember_me, class: "submitLoginRemember" %>
            <% end -%>

            <%= f.submit "Login", class: "greenButton" %>
        <% end %>

        <%= render "devise/shared/links" %>
    </div>
</div>