<div class="bannerTopBackground">
    <div class="bannerTop">
        <div class="bassFishingLogo">
            <a href="/" class="bassLogo"><%= image_tag 'bassProLogo.png', alt: 'Bass Pro Shops logo' %></a>
            <%= yield :leaderboard %>
            <%= yield :advertise %>
        </div>

        <div class="user-navigation">
            <% if user_signed_in? %>
                Logged in as <strong><%= current_user.email %></strong> |
                <%= link_to 'Edit profile', profile_path(current_user) %> |
                <%= link_to "Logout", destroy_user_session_path, method: :delete %>
            <% else %>
                <%= link_to "Sign up", new_user_registration_path %> |
                <%= link_to "Login", new_user_session_path %>
            <% end %>
            | <%= link_to 'Help', '#' %>

        </div>

        <div class="main-navigation">
            <%= link_to 'About', '#', class: 'navIcon' %>
            <%= link_to 'Tour Events', '/events', class: 'navIcon' %>
            <%= link_to 'Leaderboard', '#', class: 'navIcon' %>
            <%= link_to 'News', '#', class: 'navIcon' %>
            <%= link_to 'Anglers', '#', class: 'navIcon' %>
            <%= link_to 'Register', '/profiles/new', class: 'navIcon' if user_signed_in? && !is_registered? %>
        </div>
    </div>
</div>