<!DOCTYPE html>
<html>
    <head>
        <title>Bass Pro Shops Fishing Tour</title>
        <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <div id="container">
            <% flash.each do |name, msg| %>
                <%= content_tag :div, id: "flash_#{name}", class: "alert" do %>
                    <%= msg.html_safe %> <%= content_tag :button, "×", class: "close", "data-dismiss" => "alert" %>

                <% end %>
            <% end %>
                <div class="bannerTopBackground">
                    <div class="bannerTop">
                        <div class="bassFishingLogo">
                            <%= yield :leaderboard %>
                            <%= yield :advertise %>
                            <a href="/"><%= image_tag 'bassProLogo.png', class: 'bassLogo', alt: 'Bass Logo' %></a>
                        </div>

                        <div class="user-navigation">
                            <% if user_signed_in? %>
                                Logged in as <strong><%= current_user.email %></strong>.
                                <%= link_to 'Edit profile', edit_user_registration_path %> |
                                <%= link_to "Logout", destroy_user_session_path, method: :delete %>
                            <% else %>
                                <%= link_to "Sign up", new_user_registration_path %> |
                                <%= link_to "Login", new_user_session_path %>
                            <% end %>
                            | <%= link_to 'Help', '#' %>
                        </div>

                        <div class="navTop">
                            <%= link_to 'About', '#', class: 'navIcon' %>
                            <%= link_to 'Tour Events', '/events', class: 'navIcon' %>
                            <%= link_to 'Leaderboard', '#', class: 'navIcon' %>
                            <%= link_to 'News', '#', class: 'navIcon' %>
                            <%= link_to 'Anglers', '#', class: 'navIcon' %>
                            <%= link_to 'Register', '/profiles/new', class: 'navIcon' %>
                        </div>
                    </div>
                </div>

            <%= yield %>

        <div class="bannerBottomSponsorBackground">
            <%= link_to image_tag('trackerLogo.png', alt: 'TRACKER Boats logo'), 'http://www.trackerboats.com/' %>
            <%= link_to image_tag('nitroLogo.png', alt: 'NITRO Performance Fishing Boats logo'), 'http://www.nitro.com/' %>
            <%= link_to image_tag('mercuryLogo.png', alt: 'Mercury Marine logo'), 'http://www.mercurymarine.com/' %>
            <%= link_to image_tag('planoLogo.png', alt: 'Plano logo'), 'http://www.planomolding.com/' %>
            <%= link_to image_tag('toyotaLogo.png', alt: 'Toyota logo'), 'http://www.toyota.com/' %>
            <%= link_to image_tag('bassProLogoBottom.png', alt: 'Bass Pro Shops logo'), 'http://www.basspro.com/' %>
        </div>
            <div class="bannerBottomBackground">
                <nav class="navBottom">
                    <%= link_to 'About', '#' %>
                    <%= link_to 'Register Your Team', '/profiles/new' %>
                    <%= link_to 'Find an Event', '#' %>
                    <%= link_to 'Leaderboard', '#' %>
                    <%= link_to 'News', '#' %>
                    <%= link_to 'Team Profiles', '#' %>
                    <%= link_to 'My Account', '#' %>
                    <%= link_to 'Contact Us', '#' %>
                </nav>

                <div class="navBottomLegal">
                     <p>2013©  BPS Direct, L.L.C. All rights reserved.</p>
                </div>
            </div>

        </div>
    </body>
</html>