<!DOCTYPE html>
<html>
    <head>
        <title>Bass Pro Shops Fishing Tour</title>
        <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <div id="container">
            <% flash.each do |name, msg| %>
                <%= content_tag :div, id: "flash_#{name}", class: "alert" do %>
                    <%= msg.html_safe %> <%= content_tag :button, "×", class: "close", "data-dismiss" => "alert" %>

                <% end %>
            <% end %>
                <div class="bannerTopBackground">
                    <div class="bannerTop">
                        <div class="bassFishingLogo">
                            <%= yield :leaderboard %>
                            <%= image_tag 'bassProLogo.png', class: 'bassLogo', alt: 'Bass Logo' %>
                        </div>

                        <div class="loginTop">
                            <div class="loginIcon">
                                <h2>Help</h2>
                            </div>
                            <div class="loginIconLine">
                                |
                            </div>
                            <div class="loginIcon">
                                <div id="user_nav">
                                    <% if user_signed_in? %>
                                        Logged in as <strong><%= current_user.email %></strong>.
                                        <%= link_to 'Edit profile', edit_user_registration_path %> |
                                        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
                                    <% else %>
                                        <%= link_to "Sign up", new_user_registration_path %> |
                                        <%= link_to "Login", new_user_session_path %>
                                    <% end %>
                                </div>
                            </div>
                        </div>

                        <div class="navTop">
                            <div class="navIcon">
                                <h2>About</h2>
                            </div>
                            <div class="navIcon">
                                <a href="/events"><h2>Tour Events</h2></a>
                            </div>
                            <div class="navIcon">
                                <h2>Leaderboard</h2>
                            </div>
                            <div class="navIcon">
                                <h2>News</h2>
                            </div>
                            <div class="navIcon">
                                <h2>Anglers</h2>
                            </div>
                            <div class="navIcon">
                                <a href="/profiles/new"><h2>Register</h2></a>
                            </div>
                        </div>
                    </div>
                </div>

            <%= yield %>

        <div class="bannerBottomSponsorBackground">
            <div class="bannerBottomSponsor">
                <div class="sponsorArea">
                    <%= image_tag 'trackerLogo.png', class: 'sponsorLogo', alt: 'Bass Logo' %>
                    <%= image_tag 'notroLogo.png', class: 'sponsorLogo', alt: 'Bass Logo' %>
                    <%= image_tag 'mercuryLogo.png', class: 'sponsorLogo', alt: 'Bass Logo' %>
                    <%= image_tag 'planoLogo.png', class: 'sponsorLogo', alt: 'Bass Logo' %>
                    <%= image_tag 'toyotaLogo.png', class: 'sponsorLogo', alt: 'Bass Logo' %>
                    <%= image_tag 'bassProLogoBottom.png', class: 'sponsorLogo', alt: 'Bass Logo' %>
                </div>
            </div>
        </div>

            <div class="bannerBottomBackground">
                <div class="bannerBottom">
                    <div class="navBottom">
                        <div class="navIconBot">
                            About
                        </div>
                        <a href="/profiles/new"><div class="navIconBot">
                            Register Yout Team
                        </div></a>
                        <div class="navIconBot">
                            Find an Event
                        </div>
                        <div class="navIconBot">
                            Leaderboard
                        </div>
                        <div class="navIconBot">
                            News
                        </div>
                        <div class="navIconBot">
                            Team Profiles
                        </div>
                        <div class="navIconBot">
                            My Account
                        </div>
                        <div class="navIconBot">
                            Contact Us
                        </div>
                    </div>

                    <div class="navBottomLegal">
                         <p>2013©  BPS Direct, L.L.C. All rights reserved.</p>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>