<!DOCTYPE html>
<html>
<head>
    <title>Bass Pro Shops Fishing Tour</title>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag("bootstrap/css/bootstrap", :media => "all", "data-turbolinks-track" => true) if defined? @bootstrap %>
    <%= stylesheet_link_tag("tabs", :media => "all", "data-turbolinks-track" => true) if defined? @bootstrap %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <script type="text/javascript" src="assets/bassSlider.js"></script>
    <%= csrf_meta_tags %>

</head>
    <body>
        <div id="wrapper">
            <%= render 'layouts/banner' %>

            <div id="container">

                <%= yield %>
<!--
                <div class="bannerBottomSponsorBackground">
                <%= link_to image_tag('trackerLogo.png', alt: 'TRACKER Boats logo'), 'http://www.trackerboats.com/' %>
                <%= link_to image_tag('nitroLogo.png', alt: 'NITRO Performance Fishing Boats logo'), 'http://www.nitro.com/' %>
                <%= link_to image_tag('mercuryLogo.png', alt: 'Mercury Marine logo'), 'http://www.mercurymarine.com/' %>
                <%= link_to image_tag('planoLogo.png', alt: 'Plano logo'), 'http://www.planomolding.com/' %>
                <%= link_to image_tag('toyotaLogo.png', alt: 'Toyota logo'), 'http://www.toyota.com/' %>
                <%= link_to image_tag('bassProLogoBottom.png', alt: 'Bass Pro Shops logo'), 'http://www.basspro.com/' %>
                </div>
-->
            </div>

            <div class="bannerBottomBackground">
                <nav class="navBottom">
                    <%= link_to 'About', '#' %>
                    <%= link_to 'Register Your Team', '/profiles/new' %>
                    <%= link_to 'Find an Event', '#' %>
                    <%= link_to 'Leaderboard', '#' %>
                    <%= link_to 'News', '#' %>
                    <%= link_to 'Team Profiles', '#' %>
                    <%= link_to 'My Account', '#' %>
                    <%= link_to 'Contact Us', '#' %>
                </nav>

                <div class="navBottomLegal">
                     <p>2013©  BPS Direct, L.L.C. All rights reserved.</p>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function  () {
                var settings = {
                    styling: "bootstrap",
                    hide: false,
                    icon: true,
                    history: false,
                    width: "300px",
                    text_escape: false,
                    insert_brs: false
                };

                <% unless flash.empty? %>
                    <% flash.each do |name, msg| %>
                        var msgType;
                        <% case name %>
                        <% when "notice" %>
                            settings.type = 'info'
                        <% when "alert" %>
                            settings.type = 'error'
                        <% when "register_event" %>
                            settings.type = 'info'
                        <% when "team_invite" %>
                            settings.type = 'success'
                        <% when "error" %>
                            settings.type = 'error'
                        <% end %>
                        settings.title =  "<%= name.capitalize %>" ;
                        settings.text = "<%= msg %>";
                        $.pnotify(settings);
                    <% end %>
                <% end %>
            });

        </script>
    </body>
</html>