<!DOCTYPE html>
<html>
<head>
    <title>Bass Pro Shops Fishing Tour</title>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "ads", media: "all", "data-turbolinks-track" => true if @fullads%>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

</head>
    <body>
        <div id="wrapper">
            <%= render 'layouts/banner' %>

            <div id="container">
                <% flash.each do |name, msg| %>
                    <%= content_tag :div, id: "flash_#{name}", class: "alert hide" do %>
                        <%= msg.html_safe %> <%= content_tag :button, "×", class: "close", "data-dismiss" => "alert" %>
                    <% end %>
                <% end %>

                <%= yield %>
<!--
                <div class="bannerBottomSponsorBackground">
                <%= link_to image_tag('trackerLogo.png', alt: 'TRACKER Boats logo'), 'http://www.trackerboats.com/' %>
                <%= link_to image_tag('nitroLogo.png', alt: 'NITRO Performance Fishing Boats logo'), 'http://www.nitro.com/' %>
                <%= link_to image_tag('mercuryLogo.png', alt: 'Mercury Marine logo'), 'http://www.mercurymarine.com/' %>P
                <%= link_to image_tag('planoLogo.png', alt: 'Plano logo'), 'http://www.planomolding.com/' %>
                <%= link_to image_tag('toyotaLogo.png', alt: 'Toyota logo'), 'http://www.toyota.com/' %>
                <%= link_to image_tag('bassProLogoBottom.png', alt: 'Bass Pro Shops logo'), 'http://www.basspro.com/' %>
                </div>
-->
            </div>

            <div class="bannerBottomBackground">
                <nav class="navBottom">
                    <%= link_to 'About', '/about' %>
                    <%= link_to 'Register Your Team', edit_profile_path(current_user) if user_signed_in? && !is_registered? %>
                    <%= link_to 'Find an Event', '/events' %>
                    <%= link_to 'Leaderboard', '/leaderboard' %>
                    <%= link_to 'News', '/news' %>
                    <%= link_to 'Anglers', '/anglers' %>
                    <%= link_to 'My Profile', '/myprofile' %>
                    <%= link_to 'Contact Us', '#' %>
                </nav>

                <div class="navBottomLegal">
                     <p>2013©  BPS Direct, L.L.C. All rights reserved.</p>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(document).on('page:load ready', function  () {
                var settings = {
                    styling: "bootstrap",
                    hide: false,
                    icon: true,
                    history: false,
                    width: "300px",
                    insert_brs: false
                };

                <% unless flash.empty? %>
                    <% flash.each do |name, msg| %>
                        var msgType;
                        <% case name %>
                        <% when "notice" %>
                            settings.type = 'info'
                        <% when "alert" %>
                            settings.type = 'error'
                        <% when "register_event" %>
                            settings.type = 'info'
                        <% when "team_invite" %>
                            settings.type = 'success'
                        <% when "error" %>
                            settings.type = 'error'
                        <% end %>
                        settings.title =  "<%= name.capitalize %>" ;
                        settings.text = "<%= msg %>";
                        $.pnotify(settings);
                        console.log('its running!');
                    <% end %>
                <% end %>
            });

        </script>
    </body>
</html>